<div class="banner">
  <img src="../../assets/img/banner-1.jpg" alt="">
</div>


<p>
  Fundada pelo piracicabano João Malagueta, a Venite se estabeleceu no coração da Vila Mariana há mais de 60 anos. Com grande sucesso, atraiu uma clientela fiel desde o início, sendo a pizzaria queridinha do chef Alex Atala (CLIQUE AQUI e confira a matéria completa). E hoje, a Venite está de volta pelas mãos de João Carlos Malaguetta, filho de João Malagueta. João Carlos passou os últimos 20 anos da vida do pai junto com ele na pizzaria. Eram apenas os dois que preparavam a massa, montavam e assavam as pizzas. Agora, o legado continua mantendo a mesma tradição e os sabores inesquecíveis que conquistaram o público paulistano. No momento, apenas com atendimento delivery, a Venite oferece mais de 28 opções assadas em forno a gás, com o carinho do toque caseiro de quem é e sempre foi apaixonado pela arte de fazer pizzas.
</p>
