<a href="#">
  <div class="listaPizzas-info-box">
    <span class="listaPizzas-info-box-icon"><img [src]="pizzas.image" /></span>

    <div class="listaPizzas-info-box-content">
      <span class="listaPizzas-info-box-text">{{pizzas.nome}}</span>
      <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i>{{pizzas.estimativa}}</span>
      <span class="listaPizzas-info-box-detail">{{pizzas.descricao}}</span>
      <span class="listaPizzas-info-box-detail">R$ {{pizzas.valor}}</span>
    </div>
  </div>
</a>
