<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todas as pizzas
  </h1>
</section>


<section class="content">

  <div class="row">
          <div class="col-sm-6 col-xs-12">
            <a href="#">
              <div class="listaPizzas-info-box">
                <span class="listaPizzas-info-box-icon"><img src="assets/img/restaurants/tasty.png" /></span>

                <div class="listaPizzas-info-box-content">
                  <span class="listaPizzas-info-box-text">Mussarela</span>
                  <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i> 4.5</span>
                  <span class="listaPizzas-info-box-detail">Mussarela Scala e tomate fatiado.</span>
                  <span class="listaPizzas-info-box-detail">R$ 35,00</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </a>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="listaPizzas-info-box">
              <span class="listaPizzas-info-box-icon"><img src="assets/img/restaurants/icy.png" /></span>

              <div class="listaPizzas-info-box-content">
                <span class="listaPizzas-info-box-text">Portuguesa</span>
                <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i> 4.5</span>
                <div class="listaPizzas-info-box-detail">presunto, ovos e cebola cobertos com mussarela</div>
                <span class="listaPizzas-info-box-detail">R$ 45,00</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="listaPizzas-info-box">
              <span class="listaPizzas-info-box-icon"><img src="assets/img/restaurants/burgerhouse.png" /></span>

              <div class="listaPizzas-info-box-content">
                <span class="listaPizzas-info-box-text">Caipira</span>
                <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i> 4.5</span>
                <div class="listaPizzas-info-box-detail">Filé de frango desfiado, milho e Catupiry</div>
                <span class="listaPizzas-info-box-detail">R$ 42,00</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="listaPizzas-info-box">
              <span class="listaPizzas-info-box-icon"><img src="assets/img/restaurants/coffeecorner.png" /></span>

              <div class="listaPizzas-info-box-content">
                <span class="listaPizzas-info-box-text">Palmito</span>
                <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i> 4.5</span>
                <div class="listaPizzas-info-box-detail">fatias de palmito especial e leve cobertura de mussarela</div>
                <span class="listaPizzas-info-box-detail">R$ 48,00</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-xs-12">
            <div class="listaPizzas-info-box">
              <span class="listaPizzas-info-box-icon"><img src="assets/img/restaurants/greenfood.png" /></span>

              <div class="listaPizzas-info-box-content">
                <span class="listaPizzas-info-box-text">Peperoni</span>
                <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i> 4.5</span>
                <div class="listaPizzas-info-box-detail">mussarela, peperoni e leve toque de parmesão</div>
                <span class="listaPizzas-info-box-detail">R$ 39,00</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <div class="col-sm-6 col-xs-12">
            <div class="listaPizzas-info-box">
              <span class="listaPizzas-info-box-icon"><img src="assets/img/restaurants/breadbakery.png" /></span>

              <div class="listaPizzas-info-box-content">
                <span class="listaPizzas-info-box-text">Toscana</span>
                <span class="listaPizzas-info-box-star"><i class="fa fa-star"></i> 4.5</span>
                <span class="listaPizzas-info-box-detail">calabresa moída com cobertura de catupiry</span>
                <span class="listaPizzas-info-box-detail">R$ 35,00</span>

              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

        </div>

</section>
